
header {
  background-color:  #E0E0D1;
  text-align: center;
  font-size: 48px;
}

footer {
  background-color:  #E0E0D1;
  font-size: 36px;
}

body {
  background-image: url(images/background.jpg);
}

ol, ul {
  list-style: none;
}

footer ul li {
  display:inline;
  padding: 20px;
  text-align: center;
  left: 0;
  bottom: 0;
  width:100%;
  height: 50px;
  overflow: hidden;
  margin-top: 50px;
}

svg {
  position: relative;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.link {
  stroke: black;
  stroke-opacity: .5;
}

d3-tip {
    line-height: .5;
    color: black;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

#info {
  position: relative;
  background-color: #E0E0D1;
}

#chart {
  position: relative;
  display: inline;
}

