/* Styling for the header, footer, body of all the pages*/

header {
  background-color:  #E0E0D1;
  text-align: center;
  font-size: 48px;
  opacity: .7;
  width: 100%;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

/*To make a sticky footer*/
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 155px; /* .push must be the same height as .footer */
}

footer {
  background-color:  #E0E0D1;
  font-size: 36px;
  opacity: .7;
  width: 100%;
}

body {
  background-image: url(images/background.jpg);
}

ol, ul {
  list-style: none;
}

footer ul li {
  display:inline;
  text-align: left;
  padding-right: 25px;
  bottom: 0;
  width:100%;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

/*Main page: Social network force-directed graph*/

svg {
  display: inline;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.link {
  stroke: black;
  stroke-opacity: .5;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  opacity: 1;
}

/*Main page: information modules on left side*/

#menu {
  float: left;
  width: 30%;
}

h2 {
  padding: 5px;
}

.menu {
  padding: 5px;
  margin-left: 5px;
}

/*Biographical information*/

#info {
  background-color: #E0E0D1;
  opacity: .7;
  margin: 5px;
  border-radius: 10px;
}

/*Filter by year*/
#filter {
  background-color: #E0E0D1;
  opacity: .7;
  display: block;
  margin: 5px;
  min-height: 50px;
  border-radius: 10px;
}

#range {
  margin: 20px 20px 50px 20px;
}

#slider-range-value {
  text-align: center;
}

/*Filter by Category*/

#key ul ul li {
  display: inline-block;
}

#key ul {
  list-style-type: none;
}

#key {
  background-color: #E0E0D1;
  opacity: .7;
  display: block;
  margin: 5px;
  border-radius: 10px;
}

.keytext {
  transform: translate(15px, -10px);
}

.keycolor {
  border-radius: calc(50px/2);
  height: 2em;
  width: 2em;
}

/*Setting the color for the key options*/
#London {
  background-color: #7A297A;
}

#family {
  background-color: #A30000;
}

#Oxford {
  background-color: #297A29;
}

#Bluntisham {
  background-color: #7A5229;
}

#Somerville {
  background-color: #7ACC29;
}

#Godolphin {
  background-color: #E6E68A;
}

#France {
  background-color: #CCA37A;
}

/*About page*/

.about {
  background-color:  #E0E0D1;
  text-align: left;
  padding: 5px;
  font-size: 18px;
  opacity: .7;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about h3 {
  padding: 5px;
  margin-left: 20px;
}

.about p {
  padding: 5px;
  margin-left: 20px;
}

.about p a {
  text-decoration: none;
}

/*Map page*/

#map-canvas {
    height: 700px;
    width: 1000px;
    margin: auto;
    /*places title over map canvas*/
    position: fixed;
    opacity: .9;
}

#map-label {
  background-color:  #E0E0D1;
  text-align: left;
  text-indent: 20px;
  padding: 5px;
  font-size: 18px;
  opacity: .7;
  width: 100%;
}
